In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('data_for_claster.csv')
data.head(5)

,full_sq,life_sq,build_year,num_room,kitch_sq,year,gdp_quart_growth,timestamp,floor,max_floor,...,workplaces_km,shopping_centers_km,office_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,railroad_km,area_m,price_doc
0,73,36.0,1979.0,2,11.0,2013,0.7,2013-04-27,17.0,17.0,...,2.680298,2.285872,3.130025,14.824881,15.565422,16.934712,2.223887,1.881386,14883622.34,10100000
1,85,34.0,1979.0,3,0.0,2013,0.7,2013-05-23,13.0,22.0,...,9.891581,1.258676,4.329688,20.412259,21.581123,22.450272,2.855063,1.864007,25536296.81,7574496
2,53,30.0,1980.0,2,8.0,2013,0.7,2013-05-25,10.0,16.0,...,1.038248,0.777665,0.162024,13.270117,13.854330,15.345902,2.116263,0.619521,5646405.14,9000000
3,41,37.0,1979.0,1,1.0,2013,0.7,2013-05-27,13.0,17.0,...,9.017858,3.407867,5.350487,23.724567,24.996049,25.701769,4.841627,1.250001,21494094.80,4457400
4,77,41.0,2014.0,3,12.0,2013,0.7,2013-05-27,2.0,17.0,...,8.941513,3.172334,5.087106,23.753388,25.032110,25.735256,4.586082,1.266142,21494094.80,7011550

In [4]:
data.count()

full_sq                        18184
life_sq                        18184
build_year                     18184
num_room                       18184
kitch_sq                       18184
year                           18184
gdp_quart_growth               18184
timestamp                      18184
floor                          18184
max_floor                      18184
material                       18184
railroad_station_walk_km       18184
public_transport_station_km    18184
university_km                  18184
workplaces_km                  18184
shopping_centers_km            18184
office_km                      18184
sadovoe_km                     18184
bulvar_ring_km                 18184
kremlin_km                     18184
big_road1_km                   18184
railroad_km                    18184
area_m                         18184
price_doc                      18184
dtype: int64

In [5]:
df = data.drop(["full_sq", "life_sq", "kitch_sq", "year", "gdp_quart_growth", "timestamp", "material", "area_m", "price_doc"],axis=1)

In [6]:
df

,build_year,num_room,floor,max_floor,railroad_station_walk_km,public_transport_station_km,university_km,workplaces_km,shopping_centers_km,office_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,railroad_km
0,1979.0,2,17.0,17.0,2.890078,0.251177,5.862093,2.680298,2.285872,3.130025,14.824881,15.565422,16.934712,2.223887,1.881386
1,1979.0,3,13.0,22.0,4.299245,0.071322,13.457175,9.891581,1.258676,4.329688,20.412259,21.581123,22.450272,2.855063,1.864007
2,1980.0,2,10.0,16.0,3.564676,0.188732,5.880034,1.038248,0.777665,0.162024,13.270117,13.854330,15.345902,2.116263,0.619521
3,1979.0,1,13.0,17.0,5.684602,0.466993,18.634244,9.017858,3.407867,5.350487,23.724567,24.996049,25.701769,4.841627,1.250001
4,2014.0,3,2.0,17.0,5.966203,0.467576,18.915844,8.941513,3.172334,5.087106,23.753388,25.032110,25.735256,4.586082,1.266142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18179,1975.0,2,7.0,9.0,3.147161,0.093258,2.236806,1.442576,0.325885,1.103579,10.543724,11.118577,12.599292,3.096057,1.137603
18180,1935.0,4,3.0,9.0,0.902227,0.090712,0.672662,0.796851,0.540003,0.069986,1.203215,1.874868,3.269284,1.238732,0.377368
18181,1979.0,1,10.0,20.0,3.735666,0.630014,12.893684,9.479093,1.806570,4.338453,19.868997,21.038561,21.905792,2.808077,1.727223
18182,2003.0,2,5.0,15.0,6.895862,0.261528,1.982450,2.340429,1.108672,1.204798,11.752036,12.872535,13.622569,0.960608,4.898047
18183,1968.0,2,1.0,9.0,2.037754,0.250151,2.731394,3.065101,0.224601,2.108265,9.675169,10.228634,11.812614,1.920884,0.734949

In [7]:
df.count()

build_year                     18184
num_room                       18184
floor                          18184
max_floor                      18184
railroad_station_walk_km       18184
public_transport_station_km    18184
university_km                  18184
workplaces_km                  18184
shopping_centers_km            18184
office_km                      18184
sadovoe_km                     18184
bulvar_ring_km                 18184
kremlin_km                     18184
big_road1_km                   18184
railroad_km                    18184
dtype: int64

In [9]:
kmeans = KMeans(n_clusters=10, random_state=42, n_init="auto").fit(df)
kmeans.labels_

array([1, 4, 1, ..., 4, 0, 8], dtype=int32)

In [12]:
kmeans.predict(df.iloc(axis=0)[[1461]])

array([4], dtype=int32)